body{
    background-image:url('homework.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
section{
    background-image: url('car.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 109vw;
    height: 90vh;
    position: absolute;
    bottom: 7vh;
    z-index: 7;
    animation: 'drive' 7s infinite;
}

@keyframes drive{
    from{
        left: -10vw;
    }
    to {
        left: 110vw;
    }
}