body{
    background-image:url('homework.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    width: 90vw;
    height: 80vh;
}
section{
    background-image: url('car.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 109vw;
    height: 90vh;
    position: relative;
    bottom: -4vh;
    z-index: 7;
    animation: 'drive' 7s infinite;
}

@keyframes drive{
    from{
        left: -10vw;
    }
    to {
        left: 100vw;
    }
}